<html>
    <head>
        <title>Crear importacion</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <h3>Crear importacion</h3>
            <hr>
                <form method="post" action="crearimp">
                    {% csrf_token %}
                    <div class="mb-3">
                      <label for="txt_cant_unidades" class="form-label">Cantidad de unidades</label>
                      <input type="number" class="form-control" id="txt_cant_unidades" name="txt_cant_unidades" aria-describedby="txt_cant_unidades_ayuda" required>
                      <div id="txt_cant_unidades_ayuda" class="form-text">Ingrese la cantidad de unidades a comprar</div>
                    </div>
                    <div class="mb-3">
                      <label for="txt_costo_unitario" class="form-label">Costo unitario</label>
                      <input type="number" class="form-control" id="txt_costo_unitario" name="txt_costo_unitario" aria-describedby="txt_costo_unitario_ayuda" required>
                      <div id="txt_costo_unitario_ayuda" class="form-text">Ingrese el costo unitario del producto en dolares</div>
                    </div>
                    <div class="mb-3">
                        <label for="txt_nombre_art" class="form-label">Nombre del articulo</label>
                        <input type="text" class="form-control" id="txt_nombre_art" name="txt_nombre_art" aria-describedby="txt_nombre_art_ayuda" required>
                        <div id="txt_nombre_art_ayuda" class="form-text">Ingrese el nombre del articulo</div>
                      </div>
                      <div class="mb-3">
                        <label for="txt_codigo_art" class="form-label">Codigo del articulo</label>
                        <input type="text" class="form-control" id="txt_codigo_art" name="txt_codigo_art" aria-describedby="txt_codigo_art_ayuda" required>
                        <div id="txt_codigo_art_ayuda" class="form-text">Ingrese el codigo del articulo</div>
                      </div>
                      <div class="mb-3">
                        <label for="txt_nombre_prov" class="form-label">Nombre del proveedor</label>
                        <input type="text" class="form-control" id="txt_nombre_prov" name="txt_nombre_prov" aria-describedby="txt_nombre_prov_ayuda" required>
                        <div id="txt_nombre_prov_ayuda" class="form-text">Ingrese el nombre del proveedor</div>
                      </div>
                      <div class="mb-3">
                        <label for="txt_costo_envio" class="form-label">Costo de envio</label>
                        <input type="number" class="form-control" id="txt_costo_envio" name="txt_costo_envio" aria-describedby="txt_costo_envio_ayuda" required>
                        <div id="txt_costo_envio_ayuda" class="form-text">Ingrese el costo de envio a Chile en dolares</div>
                      </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                  </form>
        </div>
    </body>
</html>